:root {
  font-family: "Retail Demo", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: #242424;
  --secondary: #575757;
  --accent: #1dbb3f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  margin: 40px 0 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.add-message {
  margin: 10px;
}

.add-message button {
  padding: 20px;
}

button {
  appearance: auto;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
  background-color: var(--primary);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 750px;
  max-width: 80vw;
  padding: 20px;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.message {
  margin: 20px;
  width: 80%;
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 20px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-content {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  align-items: center;
  justify-content: space-between;
}

.message-date {
  font-size: 0.8em;
}

.message-text {
  font-weight: bold;
}

.open-message {
  justify-self: end;
  align-self: end;
  max-width: 70px;
}

.create-message,
.message-details {
  padding-top: 9em;
}

.message-details .message {
  max-width: 30%;
  padding: 25px;
  border-radius: 5px;
  background-color: var(--secondary);
}

.message-details .message-content {
  display: flex;
  min-height: 120px;
  margin: auto;
}

.message-details .message-exact-date {
  align-self: start;
  justify-self: end;
}

form {
  max-width: 500px;
  margin: 10px auto;
}

input {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
}

textarea {
  height: 120px;
  width: 100%;
  padding: 5px;
}

form button {
  width: 100%;
  margin: 0;
}

.back {
  margin: 20px 0;
}
